tgcrypto
git+https://github.com/pyrogram/pyrogram@master
git+https://github.com/yt-dlp/yt-dlp@master
youtube-search-python
py-tgcalls
python-dotenv
requests
aiohttp
aiofiles
asyncio
youtube-search
search-engine-parser
ffmpeg-python
pillow
future
psutil
wget
motor
dnspython
speedtest-cli
heroku3
gitpython
