pyrogram
tgcrypto
py-tgcalls==0.5.5
python-dotenv
youtube_search_python
requests
aiohttp
aiofiles
asyncio
youtube_search
search_engine_parser
future
ffmpeg-python
Pillow
pyaml
psutil
yt-dlp
bs4
psutil
wget
python-arq
httpx==0.13.3
heroku3
motor
gitpython
pykeyboard
telegraph
dnspython
speedtest-cli
